[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    redefined-outer-name,
    unused-argument,
    import-error,
    no-member,
    reportMissingImports